.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv/
.git
**/__pycache__
*.pyc
.venv
.envs/
.env
logs/
media/
static/
.volumes/
docker/.volumes/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/